.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/doc
CLAUDE.md
tests/*
!tests/testthat
!tests/palmerpenguins
TODO/
legacy
.claude
/.quarto/
docs/
rv/
data_raw/
*.bk*
*.DS_Store
.RData
.Ruserdata
