.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
inst/doc
CLAUDE.md
tests/*
!tests/testthat
!tests/testthat.R
TODO/
legacy
.claude
/.quarto/
docs/
data_raw/
*.bk*
*.DS_Store
.RData
.Ruserdata
README.html
.Rprofile
/doc/
/Meta/
